.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 30%;
  background-color: rgb(40, 17, 62);
  z-index: 1000; 
  border: none;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}

.dialog::backdrop {
   background: rgba(0, 0, 0, 0.6);
}
