.task-container {
  height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: rgb(39 16 61);
}

.task-container_header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
